.menuList {
    display: flex;
    height: 8vh;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    li {
        margin: 0 10rem;
        .toggleBtn {
            display: flex;
            border: 1px solid grey;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            align-items: center;
            justify-content: space-between;
            background: white;
            cursor: pointer;
            .bpc {
                font-size: 2rem;
                margin-left: 1rem;
            }
        }
    }
    
}

.menuPop {
    @include modalPop($top: 14%, $left: 85.5%, $width: 10%, $box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5));
    bottom: 82%;
    z-index: 10000;
    height: 4rem;
    padding: 1rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        display: flex;
        font-size: 1rem;
        padding: 1.5rem 1rem;
        margin: 0.1rem;
        &:hover {
            background: #FFF0F5;
            border-radius: 1rem;
            transition-duration: 0.8s;
        }
    }
    
}