.menuList {
    display: flex;
    height: 8vh;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    li {
        margin: 0 10rem;
    }
    
}