.homeMovie {
    position: absolute;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &__player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        font-size: 25vw;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        line-height: 90vh;
        mix-blend-mode: screen;
        text-decoration: underline;
    }
}