.commandListBox {
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 1rem;
    box-sizing: border-box;
    &__header {
        @include flexBox($justify-content: space-between);
        font-weight: 600;
    }
    &__context {
        min-height: 7vh;
        width: 87.5%;
        padding: 1rem 1.5rem 1rem 1rem;
        box-sizing: border-box;
    }
    &__cbtn {
        @include btnInit($padding: 0.5rem 0, $background: #F5D0A9);
        width: 10%;
        position: absolute;
        bottom: 1.2rem;
        right: 1rem;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        text-align: center;
        color: white;
        &:hover {
            cursor: pointer;
            background: linear-gradient(to right, #F8E0F7 30%, #F781F3 70%,  #F781BE 100%);
        }
    }
}